/* Media queries to set the breakpoints */
@mixin mobile {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  }

@mixin desktop {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

/* Mixin to set the fonts faster */
@mixin fonts($fontName) {
  font-family: map-get($fonts, $fontName)
}


/* Set flex and center the content */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Used to troncate the text of the courses items on the menu pages */
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}