/* Colors */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$background-light : #f6f6f6;
$background-footer : #353535;

/* Fonts */
$fonts: (
    logo-title: "Shrikhand",
    text: 'Roboto',
);