.main-container{ /* Center the content of the page and limit it to 1200px to avoid stretching it to much on extra large screen */
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.grid-container{ /* Display the different courses on 1, 2 or 3 columns depending on the size of the screen */
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 1rem;
    width: 100%;
    @include tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include desktop {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        
    }
}